gradio
datasets
librosa
soundfile
gradio_client==0.10.0
git+https://github.com/unitaryai/detoxify
pyloudnorm
langdetect
pydub
gradio-space-ci @ git+https://huggingface.co/spaces/Wauplin/gradio-space-ci@0.2.1
